<!DOCTYPE html>
<head>
   <title>ULA Web Server</title>
   <!-- Latest compiled and minified CSS -->
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
   <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}" >
   <!-- Optional theme -->
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->
   <link rel="stylesheet" href="{{url_for('static',filename='bootstrap-theme.min.css')}}">
   <!-- Latest compiled and minified JavaScript -->
   <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
   <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
</head>

<body style="margin:50px; background-color:#CCCCD0">
      <img src="{{url_for('static',filename='ula_ucf.png')}}" style="border:2px solid black">
      <div style="padding-top:40px">
            <h1>ULA Web Server</h1>
      </div>
      <div style="padding-top:0px">
            <h2>{{pins[24].name}}
                  {% if pins[24].state == true %}
                  is currently <strong>off</strong></h2>
            <div class="row">
                  <div class="col-md-2">
                        <a href="/enable/on" class="btn btn-block btn-lg btn-primary" role="button">Turn on</a></div>
            </div>
            {% else %}
            is currently <strong>on</strong></h2>
            <div class="row">
                  <div class="col-md-2">
                        <a href="/enable/off" class="btn btn-block btn-lg btn-primary" role="button">Turn off</a></div>
            </div>
            {% endif %}
      </div>

      <div style="padding-top:20px">
            <h2>{{pins[23].name}}
                  {% if pins[23].state == true %}
                  is currently <strong>CCW</strong></h2>
            <div class="row">
                  <div class="col-md-2">
                        <a href="/rotation/CW" class="btn btn-block btn-lg btn-primary" role="button">Reverse</a></div>
            </div>
            {% else %}
            is currently <strong>CW</strong></h2>
            <div class="row">
                  <div class="col-md-2">
                        <a href="/rotation/CCW" class="btn btn-block btn-lg btn-primary" role="button">Reverse</a></div>
            </div>
            {% endif %}
      </div>

      <div style="padding-top:20px">
            <h2>Speed Control</h2>
            <div class="btn-group">
                  <a href="/decrease/5" class="btn btn-lg btn-primary" role="button">- -</a>
                  <a href="/decrease/1" class="btn btn-lg btn-primary" role="button">&nbsp-&nbsp</a>
                  <a href="/increase/1" class="btn btn-lg btn-primary" role="button">&nbsp+&nbsp</a>
                  <a href="/increase/5" class="btn btn-lg btn-primary" role="button">+ +</a>
            </div>
      </div>

      <div style="padding-top:40px">
            <a href="/restart/0" onclick="return confirm('Are you sure?')">Restart RPi</a>
      </div>

</body>
</html>
